<html>
<head>
  <title>hello world</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/jquery-1.6.2.min.js"></script>
  <script>
    var socket = io.connect('http://localhost:3000');
    socket.on('news', function (data) {
      console.log(data);
      $("#tweets").append(data.hello);
      socket.emit('my other event', { my: 'data' });
    });
  </script>
</head>
<body>
  <div id="tweets"></div>
  ---
</body>
</html>