form(method="post", id="user-model-form")
  div
    label Email:
    input(name='email', '')
  div
    label Password:
    input(name='password', '', type='password')

  div
    input(type='submit', value='Submit')

